<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.994241928912-ssg6qosk1q5h5vobk00r0lllosrq26ls</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.994241928912-ssg6qosk1q5h5vobk00r0lllosrq26ls</string>
			</array>
		</dict>
	</array>
</dict>
</plist>